@import url('https://fonts.googleapis.com/css?family=Titillium+Web');* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}

body {
  background-color: #fcfdff;
}

/*Estilos genericos*/
.ListStyle {
  list-style: none;
}

.Underline {
  text-decoration: underline;
}

.RojoCritico {
  color:red;
}
/*Barra superior para acceso rapido*/
.navbar {
  padding-top: 0.09%;
  background-color: #1e8de8;
  font-size: 20px;
}

.logo {
  float: left;
  height: 35px;
  width: 180px;
  padding-right: 1%;
}

.navbar li {
  display: inline;
  color: white;

}

.navbar li:hover {
  background-color:  #219bff;
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
}

a:visited {
  color: #412ffc;
}

/*Barra inferior para breadcrumbs*/
.breadcrumb  {
  list-style: none;
  background-color: #2d80c4;
  color: white;

}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\003e";
}

                      /*index.html*/
table {
  background-color: #003049;
}

td {
  color: white;
}

 /*Implementacion de jQuery*/
.tdOdd {
  background-color: #a0a552;
}

.tdEven {
  background-color: #306ea0;
}


thead  {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  background-color: #011627;
  color: #fff;
}

.tabla {
  width:40%;
  padding: 5% 30%;
}

#IndexImg {
  float:right;
}

/*Barra de busqueda y accesos rapidos de tabla*/
.navbarTabla {
  padding-bottom: 1%;
}

tr:hover td {
  transition-duration: 1s;
  background-color: #26662e;
}

                            /*Mensajes*/
.MensajeResult {
 text-align: center;
  margin: 0% 0% 5% 0%;
  padding: 2%;
 border: 1px solid black;
 background: #22bf95;
}

.MensajeError {
  text-align: center;
  color: white;
  width:67.1%;
  margin: 0% 0% 5% 0%;
  padding: 2%;
  border: 1px solid black;
  background: #da2f2f;
}

.MensajeError2 {
  text-align: center;
  color: white;
  width:100%;
  margin: 0% 0% 5% 0%;
  padding: 2%;
  border: 1px solid black;
  background: #da2f2f;
}

.MensajeError3 {
  text-align: center;
  color: white;
  width:95.6%;
  margin: 0% 0% 5% 0%;
  padding: 2%;
  border: 1px solid black;
  background: #dd743c;
}

                      /*                    */
                      /*Add.html y Edit.html*/
                      /*                    */
.InputUser {
  padding-left: 1%;
}

.InputUser input:not(.ButtonForm){
  margin: 0.5% 0%;
  width: 70%;
}

.ButtonForm {
  width:35.2%;
}

.ErrorForm {
  position: absolute;
  margin-top: 0.3%;
  margin-left: 40%;
}

#BotonEliminarU {
  width: 71%;
}

.buttonAddTel, .buttonRemoveTel {
  position: absolute;
  padding-top: 0.3%;
}
                      /*             */
                      /*Details.html*/
                      /*            */
.Detalles {
  display: block;
  padding-left: 1%;
  background-color: white;
  font-size: 20px;
}


#DetEdit {
  float:right;
  padding-top: 0.5%;
}

                      /*Delete.html*/
.Delete {
    background-color: white
}

                      /*Div Box: Utilizadas para centrar*/
.DivBox1 {
  padding: 2% 25% 0% 25%;
}
.DivBox2 {
  text-align: center;
  padding: 5% 27% 0% 25%;
}
